#filmstrip img.img-responsive {
	border-top: none;
	border-right: 3px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 2px solid #fff;
}
.at .bc {
    /*background-color: #1b2a4b !important;*/

    .breadcrumb {
    	/*padding-left: 2px;*/
    	/*background-color: #1b2a4b !important;*/
		/*min-height: 35px;*/
    	
    	a {
    		/*color: #fff;*/
    	}
    }
}


div.main-content {
	h1 {
		text-align: center;
		border-bottom: 3px solid #808080;
		padding-bottom: 5px;
	}
}

.sidebar-nav {

	.well {
		/*padding: 19px 19px 19px 5px;*/
		padding: 5px;
		background-color: #fff;
		border: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	li {
		border-bottom: 1px solid #EFEFEF;
	}
	li a:hover, li a:active, li a:focus {
		background-color: #EFEFEF;
		/*outline: 0 !important;*/
	}

}

.right-sidebar {
	font-size: 10pt;

	.well {
		padding: 0 0 20px 0;
		background-color: #fff;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #808080;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

/* Left navigation sidebar */
/*.sidebar-nav > .well {
	background-color: #F8F8E8;
}*/

ul.left-nav {
	font-weight: bold;
}

table {
	thead {
		background-color: #333333;
		color: #FFF;
		a {
			color: #FFF;

		}
		a:hover {
			color: #FFF;
			opacity: 0.8;
		}
	}
}
.account-table tbody td {
    font-size: 10pt;
}

table#room-schedule {

	th {
		text-align: center;
	}

	td label {
		display: block;
		text-align: center;
	}
}

